* {
  /* Font color */
  --general-font-color: black;
  --primary-font-color: rgb(46, 46, 46);
  --secondary-font-color: rgb(8, 92, 148);

  /* Background color */
  --background: rgb(255, 253, 248);
  --background-small-contrast: rgb(124, 124, 124);

  /* Header color */
  --header-color: rgba(212, 225, 245, 0.5);
  
  /* Kacheln specific */
  --kacheln-farbe: rgba(64, 65, 70, 0.4);
  --shadow-color: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  * {
    /* Font color */
    --general-font-color: rgb(163, 163, 163);
    --primary-font-color: rgb(194, 194, 194);
    --secondary-font-color: rgb(79, 214, 255);
    
    /* Background color */
    --background: rgb(65, 65, 65);
    --background-small-contrast: rgb(124, 124, 124);
    
      /* Header color */
      --header-color: rgba(15, 15, 15, 0.5);
    
    /* Kacheln specific */
    --kacheln-farbe: rgba(0, 0, 0, 0.4);
  }
}
